/* ===========================
   Main Layout
=========================== */

.ff-main-layout {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.ff-main-layout__content {
  flex: 1;

  padding-top: 72px;
}


/* ===========================
   Responsive
=========================== */

@media (max-width: 768px) {
  .ff-main-layout__content {
    padding-top: 64px;
  }
}