.ff-dropdown{
    position:absolute;

    display:flex;
    flex-direction:column;

    border-radius:var(--radius-md);

    background:var(--color-background);

    box-shadow:0 4px 10px rgba(0,0,0,.15);

    overflow:hidden;

    z-index:1000;
}