.ff-dropdown{
    position:absolute;

    display:flex;
    flex-direction:column;

    padding: 8px;

    border-radius:var(--radius-md);

    background:var(--color-background);

    box-shadow:0 4px 10px rgba(0,0,0,.15);
    box-sizing: border-box;

    overflow:hidden;

    z-index:1000;
}